@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply relative m-3 overflow-hidden shadow-xl rounded-2xl;
}
.card-zoom {
	@apply relative transition-all duration-500 ease-in-out flex items-center justify-center m-3 overflow-hidden w-80 h-80;
}

.list-card-zoom {
	@apply relative transition-all duration-500 ease-in-out flex items-center justify-center m-3 overflow-hidden w-100 h-80;
}
.card-zoom-image {
	@apply transform;
}
.card-zoom:hover {
	@apply scale-105;
}

.list-card-zoom:hover {
	@apply scale-105;
}
